<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="dashboard.html" class="app-brand-link">
      <span class="app-brand-logo demo">
        <span class="bx bx-trophy" style="font-size:1.6rem;color:#696cff;"></span>
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2" data-i18n="app.title">Gestion Tournoi</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <li class="menu-item">
      <a href="dashboard.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="nav.dashboard">Dashboard</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="tournaments.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-flag"></i>
        <div data-i18n="nav.tournaments">Tournois</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="teams.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-group"></i>
        <div data-i18n="nav.teams">Teams</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="matches.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-timer"></i>
        <div data-i18n="nav.matches">Matches</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="standings.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-list-ol"></i>
        <div data-i18n="nav.standings">Standings</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="public.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-world"></i>
        <div data-i18n="nav.public">Public</div>
      </a>
    </li>

    <li class="menu-item">
      <a href="settings.html" class="menu-link">
        <i class="menu-icon tf-icons bx bx-cog"></i>
        <div data-i18n="nav.settings">Settings</div>
      </a>
    </li>
  </ul>
</aside>
<!-- / Menu -->